@model brenny_products.Models.Admin;

@{

    ViewBag.Title = "Login form";
    //ViewBag.Title = "index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

@using (Html.BeginForm("Index", "Admin"))

{

    <span style="font-weight:bolder; font-size:16px; color:red;">@ViewBag.Message</span>

    <div>

        <h2>Admin Login</h2>

        <div class="row">

            <div class="form-group col-12">

                <lable for="Username">Username</lable>

                @Html.TextBoxFor(m => m.Username, new { @class = "form-control",@placeholder="Username" })

            </div>

        </div>

        <div class="row">

            <div class="form-group col-12">

                <lable for="Password">Password</lable>

                @Html.PasswordFor(m => m.Password, new { @class = "form-control" ,@placeholder="Password"})

            </div>

        </div>

        <div class="row">

            <div class="form-group col-12">

                <button class="btn btn-primary " type="submit">Login</button>

            </div>

        </div>

    </div>

}