@using X.PagedList
@using X.PagedList.Mvc.Core
@model X.PagedList.PagedList<brenny_products.Models.Category>
 

@{
    ViewData["Title"] = "ViewCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>ViewCategory</h1>

<p  class="display-6 text-center fw-bold text-danger">Categories</p>
@if(Model!=null)
{
    foreach (var items in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-12">

            <div class="card m-4 border-0 d-inline-flex" style="width: 18rem; border-radius:24px:margin-left:20px">
        <img src="@Url.Content(items.Image)" class="card-img-top" alt="...">
          <div class="card-body">
          <h4 class="card-text text-center text-danger fw-bold">items.Name</h4>
          @Html.ActionLink("Delete","DeleteCategory",new {id=items.CategoryId},new {@class="btn btn-danger"})
  </div>
</div>
        </div>

        <div class="center">
            @Html.PagedListPager((IPagedList)Model,page=>Url.Action("ViewCategory",new{page}))
M          @* Page@(Model.PageCount<Model.PageNumber?0:Model.PageNumber)
            of@Model.PageCount@Html.PagedListPager(Model.page=>Url.Action("ViewCategory",new {page}))*@
        </div>
    }
}

